.saved-news-header {
  background-color: #fff;
}

.saved-news-header__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px 0 56px 104px;
}

.saved-news-header__title {
  margin: 0;
  padding: 0 0 28px;
  max-width: 712px;
  width: 100%;
  font-family: "Roboto-Regular", "sans-serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #1a1b227f;
}

.saved-news-header__information {
  margin: 0;
  padding: 0;
}

.saved-news-header__quantity {
  margin: 0;
  padding: 0 0 30px;
  max-width: 530px;
  width: 100%;
  font-family: "Roboto-Slab-Regular", "sans-serif";
  font-weight: 400;
  font-size: 40px;
  line-height: 1.15;
  color: #1a1b22;
}

.saved-news-header__keywords {
  margin: 0;
  padding: 0;
  max-width: 712px;
  width: 100%;
  font-family: "Roboto-Regular", "sans-serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #1a1b22;
}

.saved-news-header__keyword-list {
  font-family: "Roboto-Bold", "sans-serif";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: #1a1b22;
}
