.main {
}

.main__searching {
  margin: 0 auto;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.main__search-text {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto-Regular", "sans-serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #b6bcbf;
}

.main__content {
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.main__title {
  margin: 0 auto 0 0;
  padding: 80px 0 0 104px;
  font-family: "Roboto-Slab-Regular", "sans-serif";
  font-weight: 400;
  font-size: 40px;
  line-height: 1.15;
}

.main__show-more-button {
  margin: 64px auto 0;
  border: none;
  background-color: #e8e8e8;
  color: #1a1b22;
  font-family: "Roboto-Bold", "sans-serif";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  height: 64px;
  width: 288px;
  border-radius: 64px;
}

.main__show-more-button:hover {
  cursor: url("../../assets/custom-cursor.svg"), pointer;
}