.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.modal_type_sign-in {
  visibility: visible;
  opacity: 1;
}

.modal_type_sign-up {
  visibility: visible;
  opacity: 1;
}

.modal_type_sign-up-confirm {
  visibility: visible;
  opacity: 1;
}

.modal_type_hamburger {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  padding: 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.modal__close-button {
  border: none;
  position: absolute;
  padding: 0;
  right: -46px;
  top: -46px;
  background-image: url("../../assets/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  background-color: transparent;
}

.modal__close-button:hover {
  cursor: url("../../assets/custom-cursor.svg"), pointer;
  opacity: 0.6;
}
