.footer {
  display: flex;
  margin: 0 auto;
  height: 80px;
  width: 100%;
  align-items: center;
}

.footer__copyright {
  margin: 0;
  padding: 0 0 0 104px;
  font-family: "Roboto-Regular", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #b6bcbf;
}

.footer__links {
  display: flex;
  gap: 40px;
  margin: 0 0 0 auto;
}

.footer__text {
  display: flex;
  gap: 40px;
  align-items: center;
}

.footer__link {
}

.footer__link:hover {
  cursor: url("../../assets/custom-cursor.svg"), pointer;
  opacity: 0.6;
}

.footer__link_text {
  margin: 0;
  padding: 0;
  font-family: "Roboto-Regular", "sans-serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #1a1b22;
}

.footer__icons {
  display: flex;
  gap: 26px;
  align-items: center;
  padding-right: 106px;
}

.footer__link_icon {
  width: 20px;
  height: 20px;
}
