.news-card-list {
}

.news-card-list__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 64px 104px 0;
}

@media screen and (max-width: 800px) {
  .news-card-list__list {
    padding: 32px 40px;
    gap: 8px;
  }
}

@media screen and (max-width: 500px) {
  .news-card-list__list {
    padding: 58px 0 16px;
    gap: 10px;
  }
}
