.navigation__button {
  height: 48px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 48px;
}

.navigation__button:hover {
  cursor: url("../../assets/custom-cursor.svg"), pointer;
  opacity: 0.6;
}

.navigation__button_sign-in {
  width: 176px;
}
