.card {
  max-width: 400px;
  width: 100%;
  height: 576px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.card:hover {
  cursor: url("../../assets/custom-cursor.svg"), pointer;
}

.card__keyword {
  position: absolute;
  top: 24px;
  left: 24px;
  margin: 0;
  padding: 8px 22px;
  color: #000;
  font-family: "Roboto-Bold", "sans-serif";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0;
}

.card__keyword.visible {
  opacity: 1;
}

.card__save {
  position: absolute;
  display: flex;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
}

.card__save-icon {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../../assets/save-icon-normal.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: none;
}

.card__save-icon.delete {
  background-image: url("../../assets/trash-normal.svg");
}

.card__save-icon.saved {
  background-image: url("../../assets/save-icon-marked.svg");
}

.card__signin-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 45px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  border: none;
  font-family: "Roboto-Regular", "sans-serif";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #000;
  border-radius: 8px;
  opacity: 0;
  width: 182px;
  height: 40px;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.card__delete-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 45px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  border: none;
  font-family: "Roboto-Bold", "sans-serif";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #000;
  border-radius: 8px;
  opacity: 0;
  width: 159px;
  height: 40px;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.card__save:hover {
  width: 227px;
}

.card__save_logged-in:hover {
  width: 40px;
}

.card__save:hover .card__save-icon {
  background-image: url("../../assets/save-icon-hover.svg");
  cursor: url("../../assets/custom-cursor.svg"), pointer;
}

.card__save:hover .card__save-icon.delete {
  background-image: url("../../assets/trash-hover.svg");
  cursor: url("../../assets/custom-cursor.svg"), pointer;
}

.card__save:hover .card__signin-button {
  pointer-events: all;
  opacity: 1;
}

.card__save:hover .card__delete-button {
  pointer-events: all;
  opacity: 1;
}

.card__signin-button:hover {
  cursor: url("../../assets/custom-cursor.svg"), pointer;
}

.card__delete-button:hover {
  cursor: url("../../assets/custom-cursor.svg"), pointer;
}

.card__image {
  width: auto;
  height: 272px;
  margin: 0 auto;
  padding: 0;
}

.card__content {
  margin: 0 auto;
  padding: 20px 24px 24px;
  max-height: 256px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card__date {
  margin: 0;
  padding: 0 0 12px;
  font-family: "Roboto-Regular", "sans-serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #b6bcbf;
}

.card__title {
  margin: 0 0 auto;
  padding: 0;
  font-family: "Roboto-Slab-Regular", "sans-serif";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  color: #1a1b22;
  height: 60px;
  overflow: hidden;
}

.card__body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  width: 352px;
  height: 110px;
  font-family: "Roboto-Regular", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #1a1b22;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__publisher {
  margin: 0;
  padding: 18px 0 0;
  font-family: "Roboto-Regular", "sans-serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #b6bcbf;
}

.card__link {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .card {
    max-width: 224px;
    height: 420px;
  }

  .card__content {
    padding: 16px;
    height: 238px;
  }

  .card__image {
    height: 150px;
  }

  .card__body {
    width: 192px;
    height: 88px;
  }

  .card__title {
    font-size: 22px;
    line-height: 1.09;
    height: 72px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .card__publisher {
    font-size: 16px;
    line-height: 1.25;
    padding-top: 12px;
  }

  .card__save {
    top: 8px;
    right: 8px;
  }

  .card__save:hover .card__delete-button {
    opacity: 0;
  }

  .card__keyword {
    top: 8px;
    left: 8px;
  }
}

@media screen and (max-width: 500px) {
  .card {
    margin: 0 auto;
    max-width: 288px;
    height: 440px;
  }

  .card__content {
    height: 244px;
  }

  .card__title {
    height: 48px;
  }

  .card__publisher {
    padding-top: 8px;
  }

  .card__date {
    padding-bottom: 10px;
  }
  .card__image {
    height: 196px;
  }
}
